# Temporary MATLAB files #
##########################
*.asv
log.txt
log.log
Tests/log.txt
Tests/ExitCode.txt


# HDF5 files #
##############
*.h5

# Temporary latex files #
#########################
*.aux
*.bcf
*.blg
*.lof
*.log
*.out
*.spl
*synctex.gz
*.run.xml
*.auxlock
*.toc

# TryFiles #
############
TryFile.m
in_progress/
